<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {{! <link rel="stylesheet" href="/spectre.css" />
        <link rel="stylesheet" href="/spectre-icons.css" /> }}
        <link rel="stylesheet" href="/layout.css" />
        <title>JKPG City</title>
    </head>
    <body class="full-height">
        <header class="header">
            <a class="header-logo" href="/">jkpgcity.</a>
            <section class="navbar">
                <a href="/stores">stores</a>
                {{! <a href="/collections">Collections</a> }}
                <a href="/stores/create-store">Add Store</a>
                {{! <a href="/collections/create-collection">Create a collection</a> }}
                {{#if isLoggedIn}}
                    <a href="/profile">account</a>
                    <a class="btn" href="/log-out">Log out<i class="icon ml-2 icon-shutdown"></i></a>
                {{else}}
                    <a class="btn" href="/log-in">Log in<i class="icon ml-2 icon-people"></i></a>
                {{/if}}
            </section>
        </header>

        <div class="container">
            <div class="columns">
                <div class="column col-1"></div>
                <div class="column col-10">
                    {{{body}}}
                </div>
                <div class="column col-1"></div>
            </div>
        </div>

        <footer>
            <p>© codesigners — 2024 — jkpgcity</p>
        </footer>
    </body>
</html>