<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="/layout.css" />
        <title>JKPG City</title>
    </head>
    <body>
        <header class="header">
            <a class="header-logo" href="/">jkpgcity.</a>
            <section class="navbar">
                <a href="/stores">stores</a>
                {{! <a href="/collections">Collections</a> }}
                {{! <a href="/collections/create-collection">Create a collection</a> }}
                {{#if isLoggedIn}}
                    <a href="/stores/add">Add Store</a>
                    <a href="/profile">account</a>
                    <a href="/log-out">Log out<i class="icon ml-2 icon-shutdown"></i></a>
                {{else}}
                    <a href="/log-in">Log in<i class="icon ml-2 icon-people"></i></a>
                {{/if}}
            </section>
        </header>

        <div class="grid-test">
            <div class="gridline"></div>
            <div class="gridline"></div>
            <div class="gridline"></div>
            <div class="gridline"></div>
            <div class="gridline"></div>
            <div class="gridline"></div>
        </div>

        <div class="container">
            {{{body}}}
        </div>

        <footer>
            <span>© codesigners — 2024 — jkpgcity</span>
        </footer>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>
        <script src="/script.js" defer></script>
    </body>
</html>