<div class="hero">
    <div class="hero-body">
        <h1 class="text-center">About
            <span class="text-italic bg-primary text-light px-2">Moodspiration</span>
        </h1>
    </div>
</div>

<div class="container">
    <div class="columns">
        <div class="column col-3"></div>
        <div class="column col-6">
            <p>This website was made for a project in a Web Development Course, at the Jönköping University in Sweden. Here, the idea is that users can create
                notes by using pictures from Unsplash.com, add those note to user-created collections, and people can comment on each other notes.</p>
        </div>
        <div class="column col-3"></div>
    </div>
</div>