{{#if validationErrors.length}}
    <div>
        <p>Could not add this store because of the following errors : </p>
        <ul>
            {{#each validationErrors}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
{{/if}}
<div>
    <h1>Add a store</h1>

    <form action="" method="post">
        <div class="form-item">
            <label for="Store name">Name</label>
            <input type="text" name="name" placeholder="Store name" value="{{storeName}}" />
        </div>

        <div class="form-item">
            <label for="Store URL">Website's URL</label>
            <input type="text" name="url" maxlength="120" placeholder="www.example.com" value="{{storeURL}}" />
        </div>

        <div class="form-item">
            <label for="District">District</label>
            <select name="district" id="district">
                <optgroup>
                    <option value="" disabled selected>Select a District</option>
                    <option value="Öster">Öster</option>
                    <option value="Vaster">Väster</option>
                    <option value="Resecentrum">Resecentrum</option>
                    <option value="Atollen">Atollen</option>
                    <option value="Tändsticksområdet">Tändsticksområdet</option>
                    <option value="Other">Other</option>
                </optgroup>
            </select>
            {{! <div class="radio-container">
                <label class="radio-item" for="oster">Öster
                    <input type="radio" name="district" id="oster" checked value="Öster" />
                    <div class="radio"></div>
                </label>
                <label class="radio-item" for="vaster">Väster
                    <input type="radio" name="district" id="vaster" value="Väster" />
                    <div class="radio"></div>
                </label>
            </div> }}
        </div>

        <input type="submit" class="btn primary" value="Add store" />
    </form>
</div>