<h1>Update the <span class="bg-primary text-light px-2 text-italic">collection</span></h1>

{{#if validationErrors.length}}
    <div class="toast toast-error mb-4">
        <p>Could not update the collection because of the following errors : </p>
        <ul>
            {{#each validationErrors}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
{{/if}}

<div class="container">
    <div class="columns">
        <div class="column col-1"></div>
        <div class="column col-6">
            <form action="/collection-update/{{collectionId}}" method="post">
                <div class="form-group mt-4">
                    <label for="collection title update" class="text-small form-label">New title :</label>
                    <input type="text" name="newCollectionTitle" id="title" class="form-input mb-4" value="{{collectionTitle}}" />
                </div>

                <div class="form-group mt-4">
                    <label for="collection description update" class="text-small form-label">New description :</label>
                    <input type="text" name="newCollectionDesc" id="description" class="form-input mb-4" value="{{collectionDesc}}" />
                </div>

                <input type="submit" class="btn btn-primary px-3" value="Update collection" />
            </form>
        </div>
        <div class="column col-1"></div>
    </div>
</div>