<div class="hero">
    <div class="hero-body">
        <h1 class="text-center">Contact
            <span class="text-italic bg-primary text-light px-2">Us</span>
        </h1>
    </div>
</div>

<div class="container">
    <div class="columns">
        <div class="column col-3"></div>
        <div class="column col-6 bg-gray p-4">
            <div class="mb-4">
                <div class="btn btn-primary p-2"><i class="icon icon-mail"></i></div>
                <a href="mailto:balu20js@student.ju.se">balu20js@student.ju.se</a>
            </div>
            <div>
                <div class="btn btn-primary p-2"><i class="icon icon-photo"></i></div>
                <span>instagram: <a href="https://www.instagram.com/baccoae" target="_blank">baccoae</a></span>
            </div>
        </div>
        <div class="column col-3"></div>
    </div>
</div>