<div class="hero hero-lg">
    <div class="hero-body">
        <h1 class="mt-2 text-center">
            <span class="text-italic bg-primary text-light px-2 mr-2">Oops</span>Something went wrong.</h1>
        <p class="text-center">Please try again later, or contact the website owner</p>
    </div>
</div>