<div class="log-in">
    <h1 >Log In</h1>
    <form action="/log-in" method="post">
        <div class="form-item">
            <input type="text" name="username" id="username" placeholder="Username..." value="{{enteredUsername}}" />
        </div>
        <div class="form-item">
            <input type="password" name="password" id="password" placeholder="Password..." value="{{enteredPassword}}" />
        </div>

        {{#if failedToLogIn}}
            <div class="toast error">
                <p>Your username and/or password are incorrect.</p>
            </div>
        {{/if}}

        <input type="submit" class="btn primary" value="Login" />
    </form>
</div>