<div class="half-container">
    <h1>Log In</h1>
    <form action="/log-in" method="post">
        <div class="form-item">
            <label for="Log-In Username">Username</label>
            <input type="text" name="username" id="username" value="{{enteredUsername}}" />
        </div>
        <div class="form-item">
            <label for="Log-In Password">Password</label>
            <input type="password" name="password" id="password" value="{{enteredPassword}}" />
        </div>

        {{#if failedToLogIn}}
            <div class="toast error">
                <p>Your username and/or password are incorrect.</p>
            </div>
        {{/if}}

        <input type="submit" class="btn primary" value="Login" />
    </form>
</div>