<div class="hero">
    <div class="hero-body">
        <h1 class="header-style">Welcome to <br> <span class="jkpg-span">Jkpg</span><span class="city-span">City</span></h1>
        <p class="sub-text">Explore the beating heart of Jönköping City. Discover it's people, attractions, and stores!</p>
    </div>
</div>