<div class="hero hero-lg">
    <div class="hero-body">
        <h1 class="mt-2 text-center">Welcome to
            <span class="text-italic bg-primary text-light px-2">JKPG City</span></h1>
        <p class="text-center">On this website you can browse & share pictures to gather inspiration, and save them to boards</p>
    </div>
</div>