// FONT VARIABLES
$font-serif: "Instrument Serif", serif;
// $font-sans: "Work Sans", sans-serif;
$font-sans: "Epilogue", sans-serif;
$reduce-leading: -0.8px;

// SIZES VARIABLES
$gutter-width: 2em;

// COLORS
$black: #000;
$warning: #ff9f44;
$error: #e12525;

// MEDIA QUERIES VARIABLES
$ipad: "screen and (max-width : 960px)";
$mobile: "screen and (max-width : 640px)";

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3em;
    font-family: $font-serif;
}

p {
    font-family: $font-sans;
    letter-spacing: $reduce-leading;
    font-size: 16px;
}

header {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    padding: 10px 25px 10px 10px;
    border-radius: 4px;
    bottom: 2em;
    left: 0;
    right: 0;
    margin: auto;
    box-sizing: border-box;
    justify-content: space-between;
    background: rgba($black, 0.5);
    backdrop-filter: blur(10px);
    gap: 70px;
    z-index: 999;

    .header-logo {
        color: #fff;
        font-family: sans-serif;
        font-size: 1em;
        text-decoration: none;
        font-weight: 900;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.5em;

        a {
            color: #fff;
            text-decoration: none;
            font-family: $font-sans;
            font-size: 0.7em;
            font-weight: 500;
            text-transform: uppercase;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.admin-menu {
    position: fixed;
    // background: $black;
    border: 1px solid $black;
    top: 2rem;
    right: 2rem;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    box-sizing: border-box;

    font-size: 0.7em;
    font-weight: 500;
    text-transform: uppercase;
    font-family: $font-sans;

    span {
        font-family: $font-sans;
        color: $black;
        font-weight: 500;
        text-transform: uppercase;
    }

    form {
        margin: 0;
        width: fit-content;
    }

    input {
        border: none;
        background: none;
        font-family: $font-sans;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 1em;
        width: min-content;
        cursor: pointer;
        color: $error;

        &:hover {
            text-decoration: underline;
        }
    }

    a {
        color: $black;
        text-decoration: none;
    }
}

.container {
    padding: 2em;
    box-sizing: border-box;
    min-height: 100%;
}

.grid-test {
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;

    & .gridline {
        background: #e1e1e1;
        position: absolute;

        &:nth-child(1) {
            width: 1px;
            height: 100%;
            left: 2em;
        }
        &:nth-child(2) {
            width: 1px;
            height: 100%;
            right: 2em;
        }

        &:nth-child(3) {
            width: 100%;
            height: 1px;
            top: 2em;
        }
        &:nth-child(4) {
            width: 100%;
            height: 1px;
            bottom: 2em;
        }

        &:nth-child(5) {
            width: 1px;
            height: 100%;
            left: 0;
            right: 0;
            transform: translateX(-1em);
            margin: 0 auto;
        }
        &:nth-child(6) {
            width: 1px;
            height: 100%;
            left: 0;
            right: 0;
            transform: translateX(1em);
            margin: 0 auto;
        }
    }
}

.header-style {
    text-decoration: none;
    font-family: $font-sans;
    font-size: 3em;
    font-weight: 1600;
    text-transform: uppercase;
}

.hero {
    position: relative;
    display: flex;
    min-height: 100vh;
    align-items: center;
    padding: 0 0 0 2.5vw;
}

.jkpg-span {
    text-decoration: none;
    font-family: $font-sans;
    font-size: 3em;
    font-weight: 5000;
    text-transform: uppercase;
}

.city-span {
    text-decoration: none;
    font-family: $font-sans;
    font-size: 1em;
    font-weight: 5000;
    text-transform: uppercase;
}

.sub-text {
    text-decoration: none;
    font-family: $font-sans;
    font-size: 1em;
    font-weight: 5000;
    text-transform: uppercase;
}

.header-logo {
    background-color: rgb(50, 50, 50);
    padding: 15px;
    border-radius: 2px;
}
.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // column-gap: 2em;
    row-gap: 10px;
    column-gap: 2em;
    margin-top: 100px;
    margin-bottom: 100px;

    @media #{$mobile} {
        grid-template-columns: 1fr;
    }

    .card {
        list-style-position: inside;
        list-style: none;
        width: 100%;
        position: relative;
        overflow: hidden;

        & .card-border {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: $black;
        }
        // list-style: decimal-leading-zero;

        &::marker {
            font-family: $font-sans;
            font-size: 0.8em;
            // margin-right: 5px;
        }

        .card-content {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            text-decoration: none;
            color: $black;
            position: relative;
            width: fit-content;

            // &:hover {
            //     text-decoration: underline;
            //     text-underline-offset: 3px;
            //     text-decoration-thickness: 1px;
            // }

            .card-header {
                font-family: $font-sans;
                font-size: 26px;
                // border-bottom: solid $black 1px;

                @media #{$mobile} {
                    font-size: 26px;
                }
            }
        }
    }
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 64px;
    margin-top: 64px;

    .form-item {
        display: flex;
        flex-direction: column;
        min-width: 50%;

        & > label {
            font-family: $font-sans;
            letter-spacing: $reduce-leading;
            text-transform: uppercase;
            font-size: 0.8em;
            margin-bottom: 8px;
        }

        input[type="text"],
        input[type="url"],
        input[type="password"] {
            border: none;
            border-bottom: solid #e1e1e1 1px;
            background: none;
            font-family: $font-serif;
            font-size: 2.5em;
            color: $black;

            &:focus {
                border-bottom: solid $black 1px;
                outline: none;
            }

            &::placeholder {
                color: #e1e1e1;
            }
        }

        .radio-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 16px;

            .radio-item {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                font-family: $font-serif;
                font-size: 2em;

                input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0;

                    &:checked ~ .radio {
                        opacity: 1;
                    }
                }

                .radio {
                    border: solid $black 1px;
                    opacity: 0.2;
                    width: 22px;
                    height: 22px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 8px;
                }

                /* Create the indicator (the dot/circle - hidden when not checked) */
                .radio:after {
                    content: "";
                    position: absolute;
                    display: none;
                }

                /* Show the indicator (dot/circle) when checked */
                input:checked ~ .radio:after {
                    display: block;
                }

                /* Style the indicator (dot/circle) */
                .radio:after {
                    width: 22px;
                    height: 22px;
                    border-radius: 50%;
                    background: $black;
                }
            }
        }

        select {
            border: none;
            border-bottom: solid #e1e1e1 1px;
            background: none;
            font-family: $font-serif;
            font-size: 1.25em;
            color: $black;

            &:focus {
                border-bottom: solid $black 1px;
                outline: none;
            }
        }
    }
}

.btn {
    width: fit-content;
    border: none;
    text-transform: uppercase;
    padding: 1em 5em;
    cursor: pointer;
    font-family: $font-sans;
    align-self: center;

    &.primary {
        background: $black;
        color: #fff;
    }
}

.half-container {
    position: relative;
    width: calc(50% - (2em / 2));
}

.store-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 64px;
}

.website-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        text-underline-offset: 2px;
    }

    span {
        font-family: $font-sans;
        letter-spacing: $reduce-leading;
        text-transform: uppercase;
        font-size: 0.8em;
        color: $black;
    }

    img {
        width: 8px;
    }
}

.toast {
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &.error {
        background: $error;
        color: #fff;
    }
}

footer {
    display: flex;
    flex-direction: row;
    padding: 0 2em;
    position: relative;
    bottom: 3em;

    span {
        font-family: $font-sans;
        letter-spacing: $reduce-leading;
        font-size: 14px;
    }
}
