* {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    padding: 20px 2em;
    border-radius: 4px;
    bottom: 2em;
    left: 0;
    right: 0;
    margin: auto;
    box-sizing: border-box;
    justify-content: space-between;
    background: #000;
    gap: 70px;
}
header .header-logo {
    color: #fff;
    font-family: sans-serif;
    font-size: 1em;
    text-decoration: none;
    font-weight: 900;
}
header .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5em;
}
header .navbar a {
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 0.7em;
    font-weight: 500;
    text-transform: uppercase;
}
header .navbar a:hover {
    text-decoration: underline;
}

footer {
    display: flex;
    flex-direction: row;
    padding: 10px 2em 10px 10em;
    font-family: sans-serif;
}
